*.xcbkptlist
UserInterfaceState.xcuserstate
Breakpoints.xcbkptlist
xcuserdata*

.DS_Store

####
# Cocoapods: cocoapods.org
# 
# Ignoring these files means that whoever uses the code will first have to run:
# pod install
# in the App.xcodeproj directory.
# This ensures the latest dependencies are used.
Pods/
Podfile.lock