*.xcbkptlist
UserInterfaceState.xcuserstate
Breakpoints.xcbkptlist
xcuserdata*

.DS_Store
/Pods/BuildHeaders/TestFlightSDK/
/Pods/Headers/TestFlightSDK/
/Pods/TestFlightSDK/
/Pods/AFNetworking/
/Pods/BuildHeaders/RestKit/
/Pods/Headers/RestKit/
/Pods/RestKit/
/Pods/TTTAttributedLabel/
/Pods/Headers/TTTAttributedLabel/
/Pods/BuildHeaders/TTTAttributedLabel/